/* issues */
.sortingLi {
  padding: 15px 10px;
  background-color: #f7f7f7;
}
.sortingLi button {
  border: none;
  background-color: transparent;
  margin-right: 5px;
}

.dynamicLiOuter {
  display: flex;
  justify-content: space-between;
}
.dynamicLiOuter > div:last-child {
  font-size: 0.9rem;
}
.dynamicLi {
  display: flex;
}
.issuesData a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 1.1rem;
}
.issuesData img {
  height: 12px;
  width: 12px;
  margin-right: 5px;
}
.issuesData p {
  font-size: 0.9rem;
}

.issuesData a:hover {
  color: blue;
}

/* page numbers */
.pageNumber {
  margin-top: 30px;
}
ul {
  justify-content: center;
}
