.searchNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.searchNav > div:nth-child(1) {
  width: 60%;
}
.searchNav > div:nth-child(2) {
  width: fit-content;
  border: 1px solid rgb(223, 223, 223);
  padding: 6px;
}
.searchNav > div:nth-child(2) span {
  padding: 6px;
}
.searchNav > div:nth-child(2) span:last-child {
  border-left: 1px solid rgb(223, 223, 223);
}
.searchNav > div:nth-child(3) {
  width: fit-content;
}
